@font-face {
  font-family: "Orbitron"; /* Provide a name for your font */
  src: url("/public/fonts/Orbitron-Regular.ttf") format("truetype"); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}
